In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [82]:
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [83]:
# upload file in google colab
from google.colab import files
uploaded = files.upload()

Saving Air_quality.csv to Air_quality.csv

In [84]:
#importing datasets  
data_set= pd.read_csv('Air_quality.csv')

In [85]:
# Show the CSV file
data_set

            Data      Time   latitude  longitude  ...    CO     O3  TEMP.  HUMI.
0     09-08-2021  19:37:44  25.258722  82.983085  ...  0.62  0.057  22.10  62.50
1     09-08-2021  19:37:47  25.258722  82.983085  ...  0.61  0.056  22.10  62.40
2     09-08-2021  19:37:49  25.258722  82.983085  ...  0.66  0.056  22.00  62.40
3     09-08-2021  19:37:52  25.258722  82.983085  ...  0.78  0.058  22.10  62.40
4     09-08-2021  19:37:56  25.258731  82.983072  ...  0.81  0.062  22.10  62.40
...          ...       ...        ...        ...  ...   ...    ...    ...    ...
2685  09-08-2021  21:53:56  25.258661  82.982882  ...  0.71  0.048  24.60  62.40
2686  09-08-2021  21:53:59  25.258661  82.982882  ...  0.71  0.048  24.60  62.60
2687  09-08-2021  21:54:02  25.258661  82.982882  ...  0.71  0.049  24.70  63.30
2688         NaN       NaN        NaN        NaN  ...   NaN    NaN    NaN    NaN
2689         NaN       NaN        NaN        NaN  ...  0.71  0.048  24.62  62.58

[2690 rows x 13 columns]

In [87]:
# Drop date
data_set.drop('Data',
  axis='columns', inplace=True)

In [88]:
data_set

          Time   latitude  longitude   PM1  ...    CO     O3  TEMP.  HUMI.
0     19:37:44  25.258722  82.983085   4.0  ...  0.62  0.057  22.10  62.50
1     19:37:47  25.258722  82.983085   4.0  ...  0.61  0.056  22.10  62.40
2     19:37:49  25.258722  82.983085  13.0  ...  0.66  0.056  22.00  62.40
3     19:37:52  25.258722  82.983085  15.0  ...  0.78  0.058  22.10  62.40
4     19:37:56  25.258731  82.983072  22.0  ...  0.81  0.062  22.10  62.40
...        ...        ...        ...   ...  ...   ...    ...    ...    ...
2685  21:53:56  25.258661  82.982882   5.0  ...  0.71  0.048  24.60  62.40
2686  21:53:59  25.258661  82.982882   5.0  ...  0.71  0.048  24.60  62.60
2687  21:54:02  25.258661  82.982882   5.0  ...  0.71  0.049  24.70  63.30
2688       NaN        NaN        NaN   NaN  ...   NaN    NaN    NaN    NaN
2689       NaN        NaN        NaN   4.6  ...  0.71  0.048  24.62  62.58

[2690 rows x 12 columns]

In [90]:
# drop the column where time is missing
data_set.dropna(subset = ["Time"], inplace=True)

In [91]:
# Show the data after drop
data_set

          Time   latitude  longitude   PM1  ...    CO     O3  TEMP.  HUMI.
0     19:37:44  25.258722  82.983085   4.0  ...  0.62  0.057   22.1   62.5
1     19:37:47  25.258722  82.983085   4.0  ...  0.61  0.056   22.1   62.4
2     19:37:49  25.258722  82.983085  13.0  ...  0.66  0.056   22.0   62.4
3     19:37:52  25.258722  82.983085  15.0  ...  0.78  0.058   22.1   62.4
4     19:37:56  25.258731  82.983072  22.0  ...  0.81  0.062   22.1   62.4
...        ...        ...        ...   ...  ...   ...    ...    ...    ...
2683  21:53:50  25.258661  82.982882   4.0  ...  0.71  0.047   24.6   62.3
2684  21:53:53  25.258661  82.982882   4.0  ...  0.71  0.048   24.6   62.3
2685  21:53:56  25.258661  82.982882   5.0  ...  0.71  0.048   24.6   62.4
2686  21:53:59  25.258661  82.982882   5.0  ...  0.71  0.048   24.6   62.6
2687  21:54:02  25.258661  82.982882   5.0  ...  0.71  0.049   24.7   63.3

[2688 rows x 12 columns]

In [92]:
#Set the time as a index column
data_set.set_index(['Time'],inplace=True)

In [93]:
#Show data
data_set

           latitude  longitude   PM1  PM2.5  ...    CO     O3  TEMP.  HUMI.
Time                                         ...
19:37:44  25.258722  82.983085   4.0    4.0  ...  0.62  0.057   22.1   62.5
19:37:47  25.258722  82.983085   4.0    4.0  ...  0.61  0.056   22.1   62.4
19:37:49  25.258722  82.983085  13.0   15.0  ...  0.66  0.056   22.0   62.4
19:37:52  25.258722  82.983085  15.0   16.0  ...  0.78  0.058   22.1   62.4
19:37:56  25.258731  82.983072  22.0   23.0  ...  0.81  0.062   22.1   62.4
...             ...        ...   ...    ...  ...   ...    ...    ...    ...
21:53:50  25.258661  82.982882   4.0    5.0  ...  0.71  0.047   24.6   62.3
21:53:53  25.258661  82.982882   4.0    6.0  ...  0.71  0.048   24.6   62.3
21:53:56  25.258661  82.982882   5.0    6.0  ...  0.71  0.048   24.6   62.4
21:53:59  25.258661  82.982882   5.0    6.0  ...  0.71  0.048   24.6   62.6
21:54:02  25.258661  82.982882   5.0    6.0  ...  0.71  0.049   24.7   63.3

[2688 rows x 11 columns]

In [94]:
# handling missing data(Replacing missing data with the mean value) 
data_set.fillna(data_set.mean())

           latitude  longitude   PM1  PM2.5  ...    CO     O3  TEMP.  HUMI.
Time                                         ...
19:37:44  25.258722  82.983085   4.0    4.0  ...  0.62  0.057   22.1   62.5
19:37:47  25.258722  82.983085   4.0    4.0  ...  0.61  0.056   22.1   62.4
19:37:49  25.258722  82.983085  13.0   15.0  ...  0.66  0.056   22.0   62.4
19:37:52  25.258722  82.983085  15.0   16.0  ...  0.78  0.058   22.1   62.4
19:37:56  25.258731  82.983072  22.0   23.0  ...  0.81  0.062   22.1   62.4
...             ...        ...   ...    ...  ...   ...    ...    ...    ...
21:53:50  25.258661  82.982882   4.0    5.0  ...  0.71  0.047   24.6   62.3
21:53:53  25.258661  82.982882   4.0    6.0  ...  0.71  0.048   24.6   62.3
21:53:56  25.258661  82.982882   5.0    6.0  ...  0.71  0.048   24.6   62.4
21:53:59  25.258661  82.982882   5.0    6.0  ...  0.71  0.048   24.6   62.6
21:54:02  25.258661  82.982882   5.0    6.0  ...  0.71  0.049   24.7   63.3

[2688 rows x 11 columns]

In [95]:
#Extracting Independent Variable  
x= data_set.iloc[:, data_set.columns != 'PM2.5'].values

In [96]:
# show the independent variable
x

array([[2.5258722e+01, 8.2983085e+01, 4.0000000e+00, ..., 5.7000000e-02,
        2.2100000e+01, 6.2500000e+01],
       [2.5258722e+01, 8.2983085e+01, 4.0000000e+00, ..., 5.6000000e-02,
        2.2100000e+01, 6.2400000e+01],
       [2.5258722e+01, 8.2983085e+01, 1.3000000e+01, ..., 5.6000000e-02,
        2.2000000e+01, 6.2400000e+01],
       ...,
       [2.5258661e+01, 8.2982882e+01, 5.0000000e+00, ..., 4.8000000e-02,
        2.4600000e+01, 6.2400000e+01],
       [2.5258661e+01, 8.2982882e+01, 5.0000000e+00, ..., 4.8000000e-02,
        2.4600000e+01, 6.2600000e+01],
       [2.5258661e+01, 8.2982882e+01, 5.0000000e+00, ..., 4.9000000e-02,
        2.4700000e+01, 6.3300000e+01]])

In [99]:
#Extracting Dependent variable  
y= data_set.iloc[:, 3].values

In [100]:
# Showing the dependent variable
y

array([ 4.,  4., 15., ...,  6.,  6.,  6.])

In [101]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

In [102]:
#Feature Scaling of datasets  
from sklearn.preprocessing import StandardScaler  
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)  
x_test= st_x.transform(x_test)

In [103]:
# show the feature scaling data
x_train
x_test

array([[ 0.65069183,  1.10789526, -0.02755941, ..., -0.14838883,
        -0.11719939, -0.21575489],
       [-1.21675112, -1.14485277, -1.76243692, ..., -4.40880726,
         0.74771601, -1.69496729],
       [ 0.64877378,  1.09957446,  0.23934482, ...,  0.34700866,
         0.45941088,  0.23400564],
       ...,
       [-1.0403643 , -1.20058025, -0.96172422, ..., -1.04010431,
        -1.27041992, -1.16524934],
       [ 1.83007124,  0.8392209 ,  1.17350963, ...,  0.14884966,
        -0.50160623,  0.5738247 ],
       [ 1.73225069, -0.01300454,  1.84077021, ...,  0.74332665,
        -0.69380965,  0.88365973]])